@rendermode InteractiveServer

@page "/carsearch"

@inject NavigationManager NavMan

<h4>Car Search Menu</h4>

<hr />

<button id="make" @onclick="@(() => NavMan.NavigateTo("/carsearchbymake"))">Search By Make</button>
&nbsp;

<button id="year" @onclick="@(() => NavMan.NavigateTo("/carsearchbyyear"))">Search By Year</button>
&nbsp;

<button id="model" @onclick="@(() => NavMan.NavigateTo("/carsearchbymodel"))">Search By Model</button>
&nbsp;

<button id="maxprice" @onclick="@(() => NavMan.NavigateTo("/carsearchbymaxprice"))">Search By Maximum Price</button>
&nbsp;

<button id="minprice" @onclick="@(() => NavMan.NavigateTo("/carsearchbyminprice"))">Search By Minimum Price</button>
&nbsp;

<button id="inventory" @onclick="@(() => NavMan.NavigateTo("/carsearchbyinventoryid"))">Search By Inventory Id</button>

@code
{

}