@page "/carsearchbyminprice"
@rendermode InteractiveServer

<PageTitle>Car Search By Min Price</PageTitle>

<h3>Car Search By Minimum Price</h3>



@inject ICarDataService CarDataService
@inject NavigationManager NavigationManager

<div>
    <EditForm Model="@MinPrice" OnSubmit="OnSubmit" Enhance FormName="SearchCarMinPrice">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row mb-3">
            <label for="inv" class="col-form-label col-md-3">Minimum Price: </label>
            <div class="col-md-8">
                <InputText id="inv" class="form-control col-md-3" @bind-Value="@MinPrice" placeholder="Enter minimum price"></InputText>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-primary ms-1">Submit</button>
        </div>
        <br />
        <div>
            <button type="button" class="btn btn-outline-primary ms-1"
                    @onclick="@NavigateToSearchPage">
                Back to Search Page
            </button>
        </div>

    </EditForm>

    @if (@CarsByMinPrice is not null && @CarsByMinPrice.ToList().Count > 0)

    {
        <QuickGrid Items="@CarsByMinPrice" Class="table table-striped">
            <PropertyColumn Property="@(p => p.CarId)" Title="Car-Id" Sortable="true" Align="Align.Center" />
            <PropertyColumn Property="@(p => p.InventoryId)" Title="Inventory-Id" Sortable="true" />
            <PropertyColumn Property="@(p => p.Make)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Model)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Year)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Trim)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Price)" Sortable="true" />

        </QuickGrid>
    }
    else
    {
        <h4 class="text text-danger text-center">No Data Available.</h4>
    }
</div>

@code {
    IQueryable<Car> CarsByMinPrice { get; set; } = default!;

    //private string Price{ get; set; } = string.Empty;


    [SupplyParameterFromForm]
    public string MinPrice { get; set; } = default!;

    private async Task OnSubmit()
    {


        if (decimal.TryParse(MinPrice, out decimal minPrice))
        {
            CarsByMinPrice = (await CarDataService.GetCarsByPriceAbove(minPrice)).AsQueryable();
        }
    }


    protected override void OnInitialized()
    {
        MinPrice = string.Empty;

    }

    protected void NavigateToSearchPage()
    {
        NavigationManager.NavigateTo("/carsearch");
    }

}