
@page "/"
@page "/inventoryhome"

@rendermode InteractiveServer

@inject ICarDataService CarsDataService
@inject NavigationManager NavigationManager


<PageTitle>Car Inventory</PageTitle>
<h3>Car Inventory</h3>
<div>
    <QuickGrid Items="@AllCars" Pagination="@pagination" Class="table table-striped">
        <PropertyColumn Property="@(p => p.CarId)" Title="Car-Id" Sortable="true" />
        <PropertyColumn Property="@(p => p.InventoryId)" Title="Inventory-Id" Sortable="true"  />
        <PropertyColumn Property="@(p => p.Make)" Sortable="true"  />
        <PropertyColumn Property="@(p => p.Model)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Trim)" Sortable="true"  />
        <PropertyColumn Property="@(p => p.Price)" Sortable="true" />
        <TemplateColumn Title="Actions">

            <button @onclick="@(() => HandleEdit(context.CarId))">Edit</button>
           
            <button @onclick="@(() => HandleDelete(context))">Delete</button>
            
        </TemplateColumn>>
      
    </QuickGrid>
    <Paginator State="@pagination"/>
</div>

<br/>
<br/>
<hr/>

<a type="button" class="btn btn-dark" href="/carsearch">Car Search Page</a>
<br/>
<br/>
<a type="button" class="btn btn-dark" href="/carinventoryadd">Car Add Page</a>
<br />

@code
{

    private IQueryable<Car>? AllCars{ get; set; }

    /*
    [Parameter]
    public int EditCarId{ get; set; }
    */

    protected override async Task OnInitializedAsync()
    {


        AllCars = (await CarsDataService!.GetAllCars()).AsQueryable();


    }

    private PaginationState pagination = new PaginationState { ItemsPerPage = 3 };



    private async Task HandleEdit(int carid)
    {
        if(carid == 0)
        {
            return;
        }
    

        NavigationManager.NavigateTo($"/inventoryedit/{carid}", forceLoad: true);


        await Task.CompletedTask;

    }
    

    private async Task HandleDelete(Car car)
    {
        if(car is null)
        {
            return;
        }
        await CarsDataService.DeleteCar(car.CarId);

        NavigationManager.NavigateTo("/inventoryhome", forceLoad: true);
        //NavaigationManager.Refresh();

    }

}
